.list {
    display: flex;
    align-items: flex-start;
    gap: 61px;
} 

.list_category {
    display: flex;
    flex-direction: column;
    gap: 15px;
}   

.list_category:last-child {
    margin-right: 55px;
}

.list_category_names_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.list_category_title {
    font-size: 16px;
    color: black;
    font-family: jost-semibold;
} 

.list_category_name {
    color: #5D6C7B; 
    font-size: 14px;
    font-family: jost-regular;
    cursor: pointer;
}